# Data Understanding

### Import datasets (Commented because it is not needed for now)

In [2]:
# import pandas as pd

# school = pd.read_sas(
#     "./databases/2022/SCH_QQQ_SAS/CY08MSP_SCH_QQQ.SAS7BDAT", format="sas7bdat"
# )
# print(school.shape)

# student = pd.read_sas(
#     "./databases/2022/STU_QQQ_SAS/CY08MSP_STU_QQQ.SAS7BDAT", format="sas7bdat"
# )
# print(student.shape)

# teacher = pd.read_sas(
#     "./databases/2022/TCH_QQQ_SAS/CY08MSP_TCH_QQQ.SAS7BDAT", format="sas7bdat"
# )
# print(teacher.shape)

In [3]:
# import pandas as pd

# # Commented because it crashes the kernel
# # cognitive = pd.read_sas(
# #     "./databases/2022/STU_COG_SAS/CY08MSP_STU_COG.SAS7BDAT", format="sas7bdat"
# # )
# # print(cognitive.shape)

# questionnaire = pd.read_sas(
#     "./databases/2022/STU_TIM_SAS/CY08MSP_STU_TIM.SAS7BDAT", format="sas7bdat"
# )
# print(questionnaire.shape)

# creative = pd.read_sas(
#     "./databases/2022/CRT_SAS/CY08MSP_CRT_COG.SAS7BDAT", format="sas7bdat"
# )
# print(creative.shape)

# financialCOG = pd.read_sas(
#     "./databases/2022/FLT_SAS/CY08MSP_FLT_COG.SAS7BDAT", format="sas7bdat",
# )
# print(financialCOG.shape)

# financialQQQ = pd.read_sas(
#     "./databases/2022/FLT_SAS/CY08MSP_FLT_COG.SAS7BDAT",
#     format="sas7bdat",
# )
# print(financialQQQ.shape)

# financialTIM = pd.read_sas(
#     "./databases/2022/FLT_SAS/CY08MSP_FLT_COG.SAS7BDAT",
#     format="sas7bdat",
# )
# print(financialTIM.shape)

In [4]:
# import pandas as pd


# chunksize = 100000
# file_path = "./databases/2022/STU_COG_SAS/CY08MSP_STU_COG.SAS7BDAT"

# chunks = []

# for chunk in pd.read_sas(file_path, format="sas7bdat", chunksize=chunksize):
#     print(chunk.shape)
#     chunks.append(chunk)

# cognitive = pd.concat(chunks, ignore_index=True)


# print(cognitive.shape)

In [5]:
# school.to_csv("school2022.csv", index=False)
# student.to_csv("student2022.csv", index=False)
# teacher.to_csv("teacher2022.csv", index=False)
# cognitive.to_csv("cognitive2022.csv", index=False)
# questionnaire.to_csv("questionnaire2022.csv", index=False)
# creative.to_csv("creative2022.csv", index=False)
# financialCOG.to_csv("financialCOG2022.csv", index=False)
# financialQQQ.to_csv("financialQQQ2022.csv", index=False)
# financialTIM.to_csv("financialTIM2022.csv", index=False)

### Student Data

In [6]:
import pandas as pd

student = pd.read_sas(
    "../../databases/2022/STU_QQQ_SAS/CY08MSP_STU_QQQ.SAS7BDAT", format="sas7bdat"
)
print(student.shape)

(613744, 1278)

In [7]:
y = student[student["REPEAT"] == 1]
print(f"Número de alunos total: {len(student)}")
print(f"Número de alunos repetentes: {len(y)}")

grades = y["ST001D01T"].value_counts()

df_grades = y["ST001D01T"].value_counts().reset_index()
df_grades.columns = ["Ano", "Contagem"]

print(df_grades)

Número de alunos total: 613744
Número de alunos repetentes: 60004
    Ano  Contagem
0   9.0     31402
1  10.0     13111
2   8.0     10751
3   7.0      3004
4  11.0      1164
5  98.0       283
6  96.0       227
7  12.0        59
8  99.0         3

In [8]:
y_repeat = student[student["REPEAT"] == 1]
print(f"Número de alunos repetentes: {len(y)}")


def filter_by_grade(dataframe, grade):
    return dataframe[dataframe["ST001D01T"] == grade]

# Grades can be:
# 7  = "Grade 7"
# 8  = "Grade 8"
# 9  = "Grade 9"
# 10  = "Grade 10"
# 11  = "Grade 11"
# 12  = "Grade 12"
# 13  = "Grade 13"
# 96  = "Ungraded"
# 97  = "Not Applicable"
# 98  = "Invalid"
# 99  = "Missing"

grade_9_repeat = filter_by_grade(y_repeat, 9)
grade_9_repeat
# print(grade_9_repeat.to_string())


# print(list(student.columns))

#PV1MATH

Número de alunos repetentes: 60004

,CNT,CNTRYID,CNTSCHID,CNTSTUID,CYC,NatCen,STRATUM,SUBNATIO,REGION,OECD,...,PV3MPRE,PV4MPRE,PV5MPRE,PV6MPRE,PV7MPRE,PV8MPRE,PV9MPRE,PV10MPRE,SENWT,VER_DAT
37,b'ALB',8.0,800268.0,800047.0,b'08MS',b'000800',b'ALB08',b'0080000',800.0,0.0,...,270.961,257.030,180.092,276.137,272.910,246.445,329.200,254.833,0.74681,b'03MAY23:10:11:26'
85,b'ALB',8.0,800158.0,800110.0,b'08MS',b'000800',b'ALB01',b'0080000',800.0,0.0,...,337.829,173.310,172.989,229.215,207.678,199.163,219.315,299.902,0.68939,b'03MAY23:10:11:25'
104,b'ALB',8.0,800296.0,800133.0,b'08MS',b'000800',b'ALB03',b'0080000',800.0,0.0,...,273.602,156.473,318.015,267.753,305.289,135.446,261.844,171.699,1.91025,b'03MAY23:10:11:25'
105,b'ALB',8.0,800099.0,800134.0,b'08MS',b'000800',b'ALB01',b'0080000',800.0,0.0,...,375.109,311.722,286.254,505.603,413.157,335.869,338.832,308.473,1.37877,b'03MAY23:10:11:25'
129,b'ALB',8.0,800105.0,800165.0,b'08MS',b'000800',b'ALB08',b'0080000',800.0,0.0,...,315.108,349.016,436.196,353.860,310.779,296.947,273.907,293.165,1.15179,b'03MAY23:10:11:26'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
613651,b'UZB',860.0,86000140.0,86007395.0,b'08MS',b'086000',b'UZB04',b'8600000',86000.0,0.0,...,257.751,381.980,206.179,195.833,311.641,319.017,302.738,282.269,0.63855,b'02MAY23:13:18:13'
613662,b'UZB',860.0,86000105.0,86007406.0,b'08MS',b'086000',b'UZB17',b'8600000',86000.0,0.0,...,424.805,396.259,305.770,319.786,405.843,345.949,409.442,430.769,0.58577,b'02MAY23:13:18:14'
613669,b'UZB',860.0,86000200.0,86007413.0,b'08MS',b'086000',b'UZB14',b'8600000',86000.0,0.0,...,305.305,393.190,391.591,281.221,328.176,310.618,266.650,306.106,0.71953,b'02MAY23:13:18:14'
613678,b'UZB',860.0,86000041.0,86007422.0,b'08MS',b'086000',b'UZB05',b'8600000',86000.0,0.0,...,309.695,312.434,254.747,323.219,385.466,330.085,215.592,296.846,0.66356,b'02MAY23:13:18:13'
613735,b'UZB',860.0,86000070.0,86007484.0,b'08MS',b'086000',b'UZB14',b'8600000',86000.0,0.0,...,376.925,349.430,360.611,328.093,350.515,360.148,387.416,415.408,0.65475,b'02MAY23:13:18:14'

In [9]:
import numpy as np

y_repeat = student[student["REPEAT"] == 1]
print(f"Número de alunos repetentes: {len(y)}")


def filter_by_grade(dataframe, grade):
    return dataframe[dataframe["ST001D01T"] == grade]


def get_math_results(dataframe):
    math_columns = [
        "PV1MATH",
        "PV2MATH",
        "PV3MATH",
        "PV4MATH",
        "PV5MATH",
        "PV6MATH",
        "PV7MATH",
        "PV8MATH",
        "PV9MATH",
        "PV10MATH",
    ]

    math_results = dataframe.copy()
    math_results["MATH_RESULT"] = math_results[math_columns].mean(axis=1)
    math_results = math_results.drop(columns=math_columns)

    return math_results

grade_9_repeat = filter_by_grade(y_repeat, 9)

math_results = get_math_results(grade_9_repeat)
math_results

Número de alunos repetentes: 60004

,CNT,CNTRYID,CNTSCHID,CNTSTUID,CYC,NatCen,STRATUM,SUBNATIO,REGION,OECD,...,PV4MPRE,PV5MPRE,PV6MPRE,PV7MPRE,PV8MPRE,PV9MPRE,PV10MPRE,SENWT,VER_DAT,MATH_RESULT
37,b'ALB',8.0,800268.0,800047.0,b'08MS',b'000800',b'ALB08',b'0080000',800.0,0.0,...,257.030,180.092,276.137,272.910,246.445,329.200,254.833,0.74681,b'03MAY23:10:11:26',230.1009
85,b'ALB',8.0,800158.0,800110.0,b'08MS',b'000800',b'ALB01',b'0080000',800.0,0.0,...,173.310,172.989,229.215,207.678,199.163,219.315,299.902,0.68939,b'03MAY23:10:11:25',263.9948
104,b'ALB',8.0,800296.0,800133.0,b'08MS',b'000800',b'ALB03',b'0080000',800.0,0.0,...,156.473,318.015,267.753,305.289,135.446,261.844,171.699,1.91025,b'03MAY23:10:11:25',267.7373
105,b'ALB',8.0,800099.0,800134.0,b'08MS',b'000800',b'ALB01',b'0080000',800.0,0.0,...,311.722,286.254,505.603,413.157,335.869,338.832,308.473,1.37877,b'03MAY23:10:11:25',403.4443
129,b'ALB',8.0,800105.0,800165.0,b'08MS',b'000800',b'ALB08',b'0080000',800.0,0.0,...,349.016,436.196,353.860,310.779,296.947,273.907,293.165,1.15179,b'03MAY23:10:11:26',266.6456
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
613651,b'UZB',860.0,86000140.0,86007395.0,b'08MS',b'086000',b'UZB04',b'8600000',86000.0,0.0,...,381.980,206.179,195.833,311.641,319.017,302.738,282.269,0.63855,b'02MAY23:13:18:13',299.9917
613662,b'UZB',860.0,86000105.0,86007406.0,b'08MS',b'086000',b'UZB17',b'8600000',86000.0,0.0,...,396.259,305.770,319.786,405.843,345.949,409.442,430.769,0.58577,b'02MAY23:13:18:14',341.1871
613669,b'UZB',860.0,86000200.0,86007413.0,b'08MS',b'086000',b'UZB14',b'8600000',86000.0,0.0,...,393.190,391.591,281.221,328.176,310.618,266.650,306.106,0.71953,b'02MAY23:13:18:14',341.6720
613678,b'UZB',860.0,86000041.0,86007422.0,b'08MS',b'086000',b'UZB05',b'8600000',86000.0,0.0,...,312.434,254.747,323.219,385.466,330.085,215.592,296.846,0.66356,b'02MAY23:13:18:13',341.6767
613735,b'UZB',860.0,86000070.0,86007484.0,b'08MS',b'086000',b'UZB14',b'8600000',86000.0,0.0,...,349.430,360.611,328.093,350.515,360.148,387.416,415.408,0.65475,b'02MAY23:13:18:14',349.6120