# Data Understanding

### Import datasets

In [ ]:
import pandas as pd

school = pd.read_sas(
    "./databases/2022/SCH_QQQ_SAS/CY08MSP_SCH_QQQ.SAS7BDAT", format="sas7bdat"
)
print(school.shape)

student = pd.read_sas(
    "./databases/2022/STU_QQQ_SAS/CY08MSP_STU_QQQ.SAS7BDAT", format="sas7bdat"
)
print(student.shape)

teacher = pd.read_sas(
    "./databases/2022/TCH_QQQ_SAS/CY08MSP_TCH_QQQ.SAS7BDAT", format="sas7bdat"
)
print(teacher.shape)

(21629, 431)
(613744, 1278)
(68054, 543)

In [ ]:
import pandas as pd

# Commented because it crashes the kernel
# cognitive = pd.read_sas(
#     "./databases/2022/STU_COG_SAS/CY08MSP_STU_COG.SAS7BDAT", format="sas7bdat"
# )
# print(cognitive.shape)

questionnaire = pd.read_sas(
    "./databases/2022/STU_TIM_SAS/CY08MSP_STU_TIM.SAS7BDAT", format="sas7bdat"
)
print(questionnaire.shape)

creative = pd.read_sas(
    "./databases/2022/CRT_SAS/CY08MSP_CRT_COG.SAS7BDAT", format="sas7bdat"
)
print(creative.shape)

financialCOG = pd.read_sas(
    "./databases/2022/FLT_SAS/CY08MSP_FLT_COG.SAS7BDAT", format="sas7bdat",
)
print(financialCOG.shape)

financialQQQ = pd.read_sas(
    "./databases/2022/FLT_SAS/CY08MSP_FLT_COG.SAS7BDAT",
    format="sas7bdat",
)
print(financialQQQ.shape)

financialTIM = pd.read_sas(
    "./databases/2022/FLT_SAS/CY08MSP_FLT_COG.SAS7BDAT",
    format="sas7bdat",
)
print(financialTIM.shape)

(613744, 172)
(499843, 301)
(97983, 3637)
(97983, 3637)
(97983, 3637)

In [ ]:
import pandas as pd


chunksize = 100000
file_path = "./databases/2022/STU_COG_SAS/CY08MSP_STU_COG.SAS7BDAT"

chunks = []

for chunk in pd.read_sas(file_path, format="sas7bdat", chunksize=chunksize):
    print(chunk.shape)
    chunks.append(chunk)

cognitive = pd.concat(chunks, ignore_index=True)


print(cognitive.shape)

(100000, 5023)
(100000, 5023)
(100000, 5023)
(100000, 5023)
(100000, 5023)
(100000, 5023)
(13744, 5023)
(613744, 5023)

In [4]:
school.to_csv("school2022.csv", index=False)
student.to_csv("student2022.csv", index=False)
teacher.to_csv("teacher2022.csv", index=False)
cognitive.to_csv("cognitive2022.csv", index=False)
questionnaire.to_csv("questionnaire2022.csv", index=False)
creative.to_csv("creative2022.csv", index=False)
financialCOG.to_csv("financialCOG2022.csv", index=False)
financialQQQ.to_csv("financialQQQ2022.csv", index=False)
financialTIM.to_csv("financialTIM2022.csv", index=False)

### Student Data

In [2]:
import pandas as pd

student = pd.read_sas(
    "./databases/2022/STU_QQQ_SAS/CY08MSP_STU_QQQ.SAS7BDAT", format="sas7bdat"
)
print(student.shape)

(613744, 1278)

In [11]:
y = student[student["REPEAT"] == 1]
print(y["ST001D01T"])
count_values = y["ST001D01T"].value_counts()
print(count_values)

3          8.0
11        10.0
30        10.0
37         9.0
40        10.0
          ...
613651     9.0
613662     9.0
613669     9.0
613678     9.0
613735     9.0
Name: ST001D01T, Length: 60004, dtype: float64
ST001D01T
9.0     31402
10.0    13111
8.0     10751
7.0      3004
11.0     1164
98.0      283
96.0      227
12.0       59
99.0        3
Name: count, dtype: int64